.main{
    gap: 1rem;
    /*flex-direction: column;*/
}
.title{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.about{
    width: 100%;
    max-width: 700px;
}


.input{
    width: 400px;
    max-width: 400px;
}
.settings{
    max-width: 40px;
}

.actions{
    position: relative;
    margin: 1rem 0;
    display: flex;
    justify-content: end;
}
.videoOl{
    gap: 20px;
    list-style: none;
}


.settingsContext{
    /*width: 290px;*/
    position: absolute;
    z-index: 10;
    right: 1rem;
    top: 2rem;
    /*right: 15vw;*/
}

@media (max-width: 1600px) {
    .main{
        flex-direction: column;
    }
    .about{
        position: static;
    }
}
