.main{
    gap: 30px
}

.about{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    gap: 20px;

    position: sticky;
    top: 60px;
}

.glassContetn{
    padding: 10px;
    gap: 20px;
}

.input{
    width: 400px;
    max-width: 400px;
}
.settings{
    max-width: 40px;
}

.actions{
    margin-bottom: 3%;
}
.videoOl{
    gap: 20px;
    list-style: none;
}

.li{
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 64px;*/
    /*font-weight: lighter;*/
    /*align-items: center;*/
}

