.button{
    /* Green Button */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    /* Auto layout */
    padding: 10px 0;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    background: white;
    border: 1px solid #CBCBCB;
    color: black;

    transition: all 150ms ease;

}

.button:hover{
    /*background: lightgray;*/
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
    /*transform: scaleX(1.0111);*/
}

.button:active{
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
}

.content{
    gap: 20px;
}



