.button{
    /* Green Button */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    /* Auto layout */
    /*padding: 10px 0;*/
    width: 100%;
    height: fit-content;
    overflow: hidden;
    /*background: white;*/

    border-radius: 10px;
    /*border-style: solid;*/
    border-image-slice: 30%;
    /*border-image-source:  linear-gradient(#B780FF, #8F38FF);*/


    border: solid 1px transparent;
    background-image:   linear-gradient(white, white),
                        linear-gradient(to bottom, #B780FF, #8F38FF);
    background-origin: border-box;
    background-clip: content-box, border-box;

    color: #774F7A;

    transition: 1s;

}





.button:hover{
    transform: scale(0.98);
    /*box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);*/
}

.button:active{
    transform: scale(0.97);
}

.content{
    padding: 10px 0;
    gap: 20px;
}



