.edit{
    width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.sender_information{
    /*max-width: 500px;*/
    gap: 60px;
    align-items: center;
    /*justify-content: space-between;*/
}

.content{
   padding: 10px 0;
}

.content_text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*text-indent: 0.5em;*/
}
.action{

    display: flex;
    /*justify-content: space-between;*/
    gap: 20rem;
    /*gap: 15rem;*/
    /*max-width: 500px;*/
}

.flex{
    gap: 10px;
}

.answ_btn{
    /*display: flex;*/
    /*justify-content: space-between;*/
    max-width: 500px;
    /*margin-right: 100%;*/
}

.pad{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0;
}
.answ{
    margin: .5rem 0;
}
.time{
    min-width: 10rem;
}

.childAnswer{
    margin-left: .5rem;
    padding: .5rem;
    /*border-left: 1px solid rgba(0, 0, 0, 0.2);*/

    background: rgba(0, 0, 0, 0.01);
}

.inlinemenu{
    z-index: 20;
    /*left: 25%;*/
    top: 2rem;
    right: 45%;
    display: inline-block;
    position: absolute;
    max-width: fit-content;
}