.main{
    position: absolute;
    top: 10vh;
    left: 25vw;

    margin: auto;
    background: white;
    color: black;
    /*width: fit-content;*/
    width: 790px;
    padding:  30px 40px;
    border-radius: 15px;
    /*gap: 25px;*/

    z-index: 110;
}