/*margin потому что там ток один атрибут*/

.margin{
    margin-top: 2%;
    margin-bottom: 50vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    text-align: center;
    gap: 1rem;
}

.addButton{
    width: 300px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
}

.header{
    font-size: var(--text-3xl);
    /*padding: 0.5rem;*/
    font-weight: bold;
}
.title{
    margin-bottom: 1rem;
}


.tags, .tags_hidden {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    transition: height 1s ease-out;
}
.checkbox{
    max-width: 150px;
}
.tags {
    height: auto; /* конечное состояние */
}

.tags_hidden {
    height: 35px; /* начальная высота для одной строки */
}
@media (max-width: 1440px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 1200px) {
   .grid{
       grid-template-columns: repeat(3, 1fr);

   }
}

@media (max-width: 1080px) {
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
}


/*@media (max-width: 1024px) {*/
/*    .grid{*/
/*        grid-template-columns: repeat(1, 1fr);*/
/*    }*/
/*}*/