/*margin потому что там ток один атрибут*/

.margin{
    margin-top: 2%;
    margin-bottom: 50vh;
}

.main{
    text-align: center;
    gap: 30px;
    padding: 30px;
}

.addButton{
    width: 300px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px
}

.header{
    padding: 0.5rem;
    font-weight: bold;
}

.some{
    font-size: 32px;
}

.tags, .tags_hidden {
    /*margin-top: 2vw;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(9, auto);*/
    /*gap: 10px;*/
    /*overflow: hidden;*/
    /*transition: all 1s ease-out;*/

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    transition: height 1s ease-out;
}
.checkbox{
    max-width: 150px;
}
.tags {
    height: auto; /* конечное состояние */
}

.tags_hidden {
    height: 40px; /* начальная высота для одной строки */
}

@media (max-width: 1500px) {
   .grid{
       grid-template-columns: repeat(2, 1fr);

   }
}


@media (max-width: 1024px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}