.base {
    min-height: 2.5rem; /* h-10 */
    padding: 0.5rem 1rem; /* py-2 px-4 */
}

.h-5{
    padding: 0 .75rem;
}
.button {
    composes: base;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    /*justify-content: center;*/
    border-radius: var(--rounded-md); /* rounded-md */
    font-size: var(--text-base); /* text-sm */
    font-weight: 500; /* font-medium */
    transition: all 0.2s ease-in-out ;
    outline: none;
    cursor: pointer;
    user-select: none;
}
.button:disabled{
    cursor: not-allowed;
}


/*VARIANTS*/
.color {
    background: linear-gradient(87.1deg, var(--accent-plus) 0%, var(--accent) 100.61%);
    color: var(--white);
}
.color:hover{
    transition: all .3s ease-in-out;
    transform: scale(0.98);
}
.color:focus-visible {
    outline: 2px solid var(--accent); /* custom ring color */
    outline-offset: 2px;
}

.ghost:hover{
    color: var(--accent); /* text-accent-foreground */
}
.default:focus-visible {
    outline: 2px solid var(--t-c-description); /* custom ring color */
    outline-offset: 2px;
}
.default:hover{
    /*background-color: var(--accent-foreground); !* bg-accent *!*/
    color: var(--accent); /* text-accent-foreground */
    /*transition: 1s ;*/
}
.red-text{
    color: var(--red);
}
.red-text:hover{
    opacity: 0.7;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.nt span{
    display: none;
}

