.main{
    /*margin-bottom: 30vh;*/
    margin: 0 20% 30vh 20%;
}
.grid{
    /*display: grid;*/
    /*grid-template-columns: repeat(6, 1fr);*/
    /*gap: 20px;*/
    display: flex;
    flex-wrap: wrap;
}

.grid5{
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*gap: 20px;*/
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.saveButton{
    position: fixed;
    z-index: 999;
    width: 300px;
    right: 1rem;
    bottom: 1rem;
}
.padding{
    padding: 0 1rem;
}
.saveButton button{
    /*--b-otlet-color: black;*/
    /*background: white;*/
    /*border: 1px solid var(--input-border-color);*/
}
@media (max-width: 1080px) {
    .main{
        margin: 0 0 30vh 0;
    }

}
@media (max-width: 430px) {
    .padding{
        padding: 0;
    }
    .saveButton{
        width: auto;
        /*width: 100%;*/
        left: 1rem;
        right: 1rem;
    }
}