.button{
    /* Green Button */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    /* Auto layout */
    padding: 10px 0;
    width: 100%;
    height: fit-content;
    background: linear-gradient(87.1deg, #B780FF 0%, #8F38FF 100.61%);
    border-radius: 10px;
    color: white;

    background-size: 200% 200%;
    /*background-position: 0% 0%;*/
    /*transition: background-position 1s ease-in-out;*/
    transition: 1s ;
}

.button:hover{
    transform: scale(0.97);
    /*transform: scale(1.03);*/

    background-position: 100% 100%;
    /*background: linear-gradient(87.1deg, #8F38FF 10%, #B780FF 90%);*/
}

.button:active{
    background-position: 100% 100%;
    /*background: linear-gradient(87.1deg, #8F38FF 10%, #B780FF 90%);*/
}

