.main{
    /*height: 92vh;*/
    margin-right: auto;
    /*margin: auto;*/
    overflow-y: hidden ;
}
.main hr{
    margin: .5rem;
}
.b_content{
    justify-content: center;
    display: flex;
    gap: 7px;
}
.beMaxSize{
    width: 40vw;
}
/*.whiteButton:hover{*/
/*    box-shadow: 0 0 5px rgb(255, 255, 255),*/
/*    0 0 5px rgba(255, 255, 255, 0.8),*/
/*    0 0 25px rgb(255,255,255, 0.6),*/
/*    0 0 50px rgb(255,255,255, 0.2);*/
/*}*/
.w100{
    width: 50vw;
    /*max-width: ;*/
}
.bascket{
    min-width: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 1rem;
    overflow: hidden;
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 65vh;
    width: 100%;
    overflow-y: scroll;
}

.posts::-webkit-scrollbar {
    width: 5px;
}

.posts::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
    /* border: 1px solid #cacaca; */
}

.posts::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 3px solid transparent; */
    background-clip: content-box;
    background-color: rgba(196, 196, 196, 0.35);
}

.check{
    max-height: 100%;
    overflow-y: hidden;
    margin: 5vh 0;
}

.call{
    padding: 0 .7rem;
    display: flex;
    flex-direction: column;
}
.descript{

    /*padding: 0 .6rem;*/
}


.hall{
    /*height: 50px;*/
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/*.call::after{*/
/*    content: '';*/
/*    width: 100%;*/
/*    !*border: 1px solid var(--end-foreground);*!*/
/*}*/
.bascket_content{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    text-align: center;
    width: 20rem;
    margin: 0 auto;
}

.basket_footer{
    margin: 0 auto;
    width: 380px;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.c_text{
    color: white;
}
.image{
    /*transform: rotate(45deg);*/
}
.deleteButton{
    background: #9747FF;
    height: 36px;
    cursor: pointer;
}

.close{
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 210px;
    /*left: 85%;*/left: 44vw;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    background: #9747FF;
    width: 100px;
    height: 36px;
    cursor: pointer;

}

@media (max-width: 425px) {
    .check{
        display: flex;
        flex-direction: column;
    }
    .posts{
        width: 90vw;
        order: 1
    }
    .bascket{
        order: 2
    }
}