:global(.sidebar_input){}

.sidebar_input[name="leftMenu"]{
    position: absolute;
    visibility: hidden;
}
.zIndex{
 width: 100%;
}

.flex{
    justify-content: start;
}

.menu{
    justify-content: start;
    min-height: 2.5rem; /* h-10 */
    padding: 0 .75rem; /* py-2 px-4 */
    /*padding: 0.75rem 0.75rem; !* py-2 px-4 *!*/
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--rounded-md); /* rounded-md */
    font-size: var(--text-base); /* text-sm */
    font-weight: 500; /* font-medium */
    transition: scale 0.2s, border-color 0.2s, color 0.2s;
    outline: none;
    cursor: pointer;
}
/*.menu:hover{*/
/*    color: var(--accent);*/
/*    !*background-color: var(--accent-foreground);*!*/
/*}*/
.menu span{
    visibility: hidden;
}
.menu_buttons{
    position: sticky;
    top: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu_buttons button, .menu{
    margin: 5px 20px;
}

.navbar{
    margin: 0.7vh 1vw 0.7vh 0;
    min-width: 80px;
    width: 80px;

    /*transition: width .5s cubic-bezier(0.04, 0.51, 0.97, 0.46); !* Плавный переход *!*/

    transition: width 0.2s ease-out;
}

/*.button span{*/
/*    display: none;*/
/*}*/
.button{
    display: flex;
    /*justify-content: center;*/
    padding: 0.5rem 2rem;
    height: 100%;
    width: 100%;
}

.sidebar_input:not(:checked) + .navbar, #span {
    color: transparent;
}

/*Checkbox и наш left menu*/
.sidebar_input:checked + .navbar, #span {
    color: black;
    width: 20vw;
}



.row_flex{
    display: flex;
    flex-direction: row;
    /*overflow: auto;*/
}

.column_flex{
    display: flex;
    flex-direction: column;
}

/*OVERLAY*/
.overlayActive, .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay{
    background:#000;
    opacity:0.5;
    z-index: 100;
}
@media (max-width: 1080px) {
    /*Checkbox и наш left menu*/
    .sidebar_input:checked + .navbar, #span {
        color: black;
        width: 25vw;
    }

    .sidebar_input:checked + .navbar button:hover {
        color: var(--accent);
    }

    .navbar  button:hover {
        color: transparent;
        width: 25vw;
    }

}
/*Overlay*/

@media (max-width: 768px) {
    .sidebar_input:checked + .navbar, #span {
        color: black;
        width: 35vw;
    }
}


