
.back{
    padding-top: 20px;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 100px 100px;
    background-position: -5px -5px

}
.state{
    padding: 130px 150px;
}
.title{
    text-align: center;
}
.flex{
    padding: 100px 30px;
}
.com{
    gap:20px
}
.logo{
    width: 100%;
}

.form{
    padding: 0 70px;
    width: 100%;
    gap: 42px;
}
.signIn {
    max-height: 545px;
}
.signIn > div {
    margin: 15px 0;
}

