.nav{
    height: 70px;
}

.trap{
    width: 46%;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 100%;
}

.logo{
    min-width: fit-content;
    width: 30%;
}

.settings{
    padding: 0 120px 0 35px;
}

.trap2{
    width: fit-content;
    min-width: 25%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trap2 button img{
    /*height: 28px;*/
    /*width: 24px;*/
}

.contextMenu{
    position: absolute;
    top: 7.5vh;
    right: 6vw;
    z-index: 99;
    width: 350px;
}

.notifications{
    display: block;
    max-height: 600px;
    overflow-y: scroll;
    position: absolute;
    top: 7.5vh;
    right: 20vw;

    z-index: 99;

}
.profile{
    padding-left: 20px;
}
.notifications::-webkit-scrollbar {
    width: 5px;
}

.notifications::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    /* border: 1px solid #cacaca; */
}

.notifications::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 3px solid transparent; */
    background-clip: content-box;
    background-color: rgba(196, 196, 196, 0.35);
}

.btn{
    width: 70px;
    /*overflow: hidden;*/
}

.btn .ima{
    width: 24px;
}
.gap{
    gap: 20px;
}

.count_span{
    position: relative;
    display: inline-block;
    right: 10px;
    bottom: 15px;
/*display: block;*/

    background: #5B11B9;
    border-radius: 100%;
    border: 1px solid white;
    color: white;

    min-height: 20px !important;
    min-width: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
    width: 20px !important;
    height: 20px !important;

    padding: 2px;
    text-align: center;
    font-size: 12px;
}