.nav{
    height: 70px;
}

.trap{
    width: 46%;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 100%;
}

.logo{
    min-width: fit-content;
    width: 30%;
}

.settings{
    padding: 0 120px 0 35px;
}

.trap2{
    width: 40%;
    display: flex;
    align-items: center;
}

.trap2 button img{
    /*height: 28px;*/
    /*width: 24px;*/
}

.contextMenu{
    position: absolute;
    top: 7.5vh;
    right: 7.5vw;
    z-index: 99;
}

.notifications{
    display: block;
    max-height: 600px;
    overflow-y: scroll;
    position: absolute;
    top: 7.5vh;
    right: 25vw;

    z-index: 99;

}


.notifications::-webkit-scrollbar {
    width: 5px;
}

.notifications::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    /* border: 1px solid #cacaca; */
}

.notifications::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 3px solid transparent; */
    background-clip: content-box;
    background-color: rgba(196, 196, 196, 0.35);
}