.grid{
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    gap: 45px;
    margin: 3vh 10px;
}

.diagram{
    height: 400px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 30px
}
