.main{
    position: absolute;
    top: 25%;
    left: 35%;

    margin: auto;
    background: black;
    color: white;
    width: fit-content;
    max-width: 475px;
    padding:  30px 40px 40px 40px ;
    border-radius: 5px;
    gap: 25px;


    z-index: 110;
}

.main h4{
    /*margin: 25px 0;*/
    font-size: 1.25vw;
    color: #828282;
}