.main{
    width: 100%;
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 13pt;*/
    box-sizing: border-box;
    /*background: #FFFFFF;*/
    border: 1px solid var(--accent-foreground);
    border-radius: 30px;
    padding: 0.2rem 1rem;
}
.input::placeholder{
    color: var(--t-c-description);
}
.input{
    width: 100%;
}
.search{
    width: 100%;
    gap: 10px;
}

.content{
    position: absolute;
}

.open{
    display: block;
    composes: content;
    animation: sine 1s;
}
.close{
    display: none;
    animation: sine 1s;
}

@keyframes shine {
    0% {
        background-position: left -40px top 0;
    }
    100% {
        background-position: right -40px top 0;
    }
}