.main{
    width: 100%;

    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 13pt;*/


    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #838383;
    border-radius: 30px;
    padding: 5px 15px;


}

.input::placeholder{
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
    font-weight: 300;
}

.input{
    width: 100%;
}

.search{
    width: 100%;

    gap: 10px;
}