/*.t1{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 10px;*/
/*}*/

/*.t2{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: 300;*/
/*    font-size: 12px;*/
/*}*/

/*.t3{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: 300;*/
/*    !*Light*!*/
/*    font-size: 14px;*/
/*}*/

/*.t4{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: normal;*/
/*    !*Light*!*/
/*    font-size: 16px;*/
/*}*/
/*.t5{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: 500;*/
/*    !*Light*!*/
/*    font-size: 16px;*/
/*}*/
/*.text{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-weight: normal;*/
/*    !*Light*!*/
/*    font-size: 20px;*/
/*}*/

/*.d1{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*    color: #828282;*/
/*}*/
/*.d2{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    color: #828282;*/

/*}*/
/*.d3{*/
/*    font-family: 'Inter', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 12px;*/
/*    color: #828282;*/

/*}*/



/*.t1 {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: 600;*/
/*    font-size: 0.55556vw; !* 10px / 1920px * 100 *!*/
/*}*/

/*.t2 {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: 300;*/
/*    font-size: 0.625vw; !* 12px / 1920px * 100 *!*/
/*}*/

/*.t3 {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: 300; !*Light*!*/
/*    font-size: 0.71429vw; !* 14px / 1920px * 100 *!*/
/*}*/

/*.t4 {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: normal; !*Light*!*/
/*    font-size: 0.83333vw; !* 16px / 1920px * 100 *!*/
/*}*/

/*.t5 {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: 700; !*Light*!*/
/*    font-size: 0.83333vw; !* 16px / 1920px * 100 *!*/
/*}*/

/*.text {*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: normal; !*Light*!*/
/*    font-size: 0.8333vw; !* 20px / 1920px * 100 *!*/
/*}*/

.t1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14pt; /* 10px / 1920px * 100 */
}

.t2 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16pt; /* 12px / 1920px * 100 */
}

.t3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal; /*Light*/
    font-size: 18pt; /* 14px / 1920px * 100 */
}

.t4 {
    font-family: 'Lato', sans-serif;
    font-weight: normal; /*Light*/
    font-size: 20pt; /* 16px / 1920px * 100 */
}

.t5 {
    font-family: 'Lato', sans-serif;
    font-weight: normal; /*Light*/
    font-size: 22pt; /* 16px / 1920px * 100 */
}

.text {
    font-family: 'Lato', sans-serif;
    font-weight: normal; /*Light*/
    font-size: 13pt; /* 20px / 1920px * 100 */
}


/*.textPX{*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-weight: normal; !*Light*!*/
/*    font-size: 24px;*/
/*}*/

.bold{
    font-weight: 700;
}
.medium{
    font-weight: 500;
}



.d1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    color: #828282;
}

.d2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.89vw;
    color: #828282;
}

.d3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.78vw;
    color: #828282;
}

.h4{
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: bold;*/
    /*font-size: 1.33333vw; !* 20/24px Переделать под 20px *! */


    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px; /* 20/24px */
}
/*FLEX */
.flex{
    display: flex;
}
/*JUSTIFY CONTENT*/
.f_start{
    justify-content: start;
}
.f_end{
    justify-content: end;
}
.f_center{
    justify-content: center;
}
.f_s_between{
    justify-content: space-between;
}
.f_s_around{
    justify-content: space-around;
}
.f_s_evenly{
    justify-content: space-evenly;
}
/* JUSTIFY CONTENT*/

/*JUSTIFY ITEM*/
.f_ji_stretch{
    justify-items: stretch;
}
.f_ji_center{
    justify-items: center;
}
.f_ji_start{
    justify-items: stretch;
}
.f_ji_end{
    justify-items: end;
}
/*JUSTIFY ITEM*/

/*FLEX DIRECTION*/
.f_dir_column{
    flex-direction: column;
}
.f_dir_row{
    flex-direction: row;
}
/*FLEX DIRECTION*/
/*ALIGN ITEMS*/
.f_a_center{
    align-items: center;
}
/*ALIGN ITEMS*/

/*FLEX */

/*GRID*/
.grid{
    display: grid;
}
/*GRID*/

/*HEIGHT*/
.h100{
    height: 100%;
}
/*HEIGHT*/

.shadowBliz{
    box-shadow: rgba(0, 0 , 0 , 0.24) 0 3px 8px 0;
}
.blur{
    filter: blur(20px);
}


.pad{
    padding: 0 120px;
}

.padLeft{
    padding: 0 120px 0 35px ;
}

.padRight{
    padding-right: 120px;
}

@keyframes shine {
    0% {
        background-position: left -40px top 0;
    }
    100% {
        background-position: right -40px top 0;
    }
}

.skeleton {
    height: 100%;
    width: 100%;
    color: transparent;
    user-select: none;
    /*padding: 0 2% ;*/
    border-radius: 5px;
    background-color: #e2e5e7;
/*// The shine that's going to move across the skeleton:*/
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255,255, 0));
    background-size: 40px 100%;
/*// width of the shine*/
    background-repeat: no-repeat;
/*// No need to repeat the shine effect*/
    background-position: left -40px top 0;
/*// Place shine on the left side, with offset on the left based on the width of the shine - see background-size*/
    animation: shine 1s ease infinite;
/*// increase animation time to see effect in 'slow-mo'*/
}

@media (max-width: 1600px) {

    .pad{
        padding: 0 10px;
    }

    .t1 {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 14pt; /* 10px / 1920px * 100 */
    }

    .t2 {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: 16pt; /* 12px / 1920px * 100 */
    }

    .t3 {
        font-family: 'Lato', sans-serif;
        font-weight: normal; /*Light*/
        font-size: 18pt; /* 14px / 1920px * 100 */
    }

    .t4 {
        font-family: 'Lato', sans-serif;
        font-weight: normal; /*Light*/
        font-size: 20pt; /* 16px / 1920px * 100 */
    }

    .t5 {
        font-family: 'Lato', sans-serif;
        font-weight: normal; /*Light*/
        font-size: 22pt; /* 16px / 1920px * 100 */
    }

    .text {
        font-family: 'Lato', sans-serif;
        font-weight: normal; /*Light*/
        font-size: 18pt; /* 20px / 1920px * 100 */
    }



    .d1 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #828282;
    }

    .d2 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #828282;
    }

    .d3 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #828282;
    }

}