.glass{
    /*Хз почему на auto поставил*/
    /*width: auto; */
    /*width: 100%;*/
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #D5D4D4;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 10px;
}

.fit{
    width: fit-content;
}
.fitH{
    height: fit-content;
    padding: 20px;
}
