.grid{
    display: grid;
    grid-template-columns: auto fit-content(350px);
    grid-template-rows: 85px auto;

    row-gap: 80px;
    column-gap: 70px;
}

.span{
    grid-column: span 2;
}

.recomends{
    display: flex;
    flex-direction: column;
    gap: 34px
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button{
    max-width: 270px;
    width: 270px;
}

.inputDescription{
    width: 100%;
    height: 100px;
}

.buttons{
    display: flex;
    flex-direction: column;
}