.back{
    /*Пальмы*/
    /*background-image: url("../../../asserts/background/bckg_main.png");*/

    /*!*Точки*! источник https://uiverse.io/patterns?page=0 */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 100px 100px;
    background-position: -5px -5px



    /*--color: #E1E1E1;*/
    /*background-color: #F3F3F3;*/
    /*background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),*/
    /*linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);*/
    /*background-size: 55px 55px;*/


    /*КЕКИЧ*/
    /*--s: 105px; !* control the size *!*/
    /*--c1: #b9b9b9;*/
    /*--c2: #dcdcdc;*/
    /*--c3: #fafafa;*/

    /*background: conic-gradient(*/
    /*        from 75deg,*/
    /*        var(--c1) 15deg,*/
    /*        var(--c2) 0 30deg,*/
    /*        #0000 0 180deg,*/
    /*        var(--c2) 0 195deg,*/
    /*        var(--c1) 0 210deg,*/
    /*        #0000 0*/
    /*)*/
    /*calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),*/
    /*conic-gradient(*/
    /*        var(--c1) 30deg,*/
    /*        var(--c3) 0 75deg,*/
    /*        var(--c1) 0 90deg,*/
    /*        var(--c2) 0 105deg,*/
    /*        var(--c3) 0 150deg,*/
    /*        var(--c2) 0 180deg,*/
    /*        var(--c3) 0 210deg,*/
    /*        var(--c1) 0 256deg,*/
    /*        var(--c2) 0 270deg,*/
    /*        var(--c1) 0 286deg,*/
    /*        var(--c2) 0 331deg,*/
    /*        var(--c3) 0*/
    /*);*/
    /*background-size: var(--s) calc(var(--s) / 0.577);*/
}

.video{
    width: 100%;
}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    text-align: center;
    width: 80%;
    margin : 10vh auto;
}

.title p{
    color: #868686;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 16.66666666vw 1fr;
    column-gap: 100px;
    height: 30vw;
    margin: 10vh 0;
}
.row{
    margin: 0 0 50px 0;
    height: 100%;
    /*height: fit-content;*/
}

.row ul{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    /*font-size: 1.05556vw;*/


    /*width: 50%;*/
    margin: auto;
    /*justify-content: center;*/
    /*align-self: center;*/
}
.row ul li{
    margin: 10px 0;
    display: flex;
    gap: 10px
}

.row ul li img{
    width: 20px;
    height: 20px;
}


.row2{
    grid-row: 2;
}

.column{
    display: flex;
    flex-direction: column;
}
.center_col{
    /*width: 16.66666666vw ;*/
    /*grid-row: span 2;*/
}
.logo{
    text-align: center;
    height: 100%;
}
.logo h2{
    height: fit-content;
    /*font-size: 1.875vw;*/
}

.howITworkFlex{
    display: flex;
    gap: 55px
}
.lastDescription{
    margin: 3vh 0;
    height: 450px;
}
.i_glassBox{
    gap:35px;
    padding: 30px 35px;
    text-align: center;
    height: 578px;
}

.glassBox{
    gap:35px;
    padding: 30px 35px;
    text-align: center;
}
.descriptionLast{
    width: 50%;
}

.description{
    display: flex;
    align-items: center;
    height: 100%;
}

.register{
    gap: 10px;
    cursor: pointer;
}

.buttons{
    gap: 10px;
    margin-bottom: 5vw
}

@media (max-width: 1600px) {
    .howITworkFlex{
        flex-direction: column;
    }

    .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        height: fit-content;
        margin: 10vh 0;
    }

    .title{
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 12pt;
        text-align: center;
        width: 100%;
        margin : 10px auto;
    }

}